* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2d2013;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.mealCol {
    width: 20%;
    padding: 0 15px;
}

.titleComponents{
    text-align: center;
    margin-bottom: 20px;
}

.titleMeals{
    text-align: center;
    margin-bottom: 20px;
}

.col-4{
    width: 25%;
    padding: 0 15px;
}

.col-8{
    width: 75%;
    padding: 0 15px;
}

.itemMeal{
    display: flex;
    flex-direction: column;
}

.btnComponent{
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background-color: #d46e17;
    transition: 0.6s;
}

.btnComponent:hover{
    background-color: #fdc339;
    cursor: pointer;
}

.imgCol{
    width: 16%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.infoCol{
    width: 68%;
    padding: 0 15px;
    text-align: center;
}

.boxTotals{
    display: flex;
    justify-content: center;
    padding: 0 15px;
    margin-bottom: 20px;
}

.itemLatesMeat{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*//////////////////////////////////////*/
@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }
    .header{
        margin: 0;
    }

    .headerItemOut{
        display: flex;
        flex-direction: column;
    }



}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
        align-items: center;
    }

    .header{
        margin: 0;
    }

    .headerItemOut{
        display: flex;
        flex-direction: column;
    }

    .boxTotals{
        padding: 0 8px;
        margin-bottom: 11px;
    }

    .mealCol{
        width: 30%;
        padding: 0 10px;
    }

    img{
        max-width: 100%;
    }

    .imgCol, .infoCol{
        width: 100%;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 320px;
    }

    .headerItem{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .boxTotals{
        flex-direction: column;
        align-items: center;
    }

    .boxTotals img{
        width: 25%;
    }
}